@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
 background-color: #343a40;
  font-family: Arial;
  color: #fcfcfc;
background-size: inherit;
background-repeat: no-repeat;
background-position: center;
backdrop-filter: blur(50px);
}

h1 {
  color: #ffffff;
}


svg {
	font-family: "Rouge Script", sans-serif;
	width: 1000%; height: 200%;
  text-align: center;
}
svg text {

	animation: stroke 10s infinite alternate;
	stroke-width: 2;
	stroke: #E7FFFF;
	font-size: 180px;
}
@media screen and (max-width: 767px) {

  svg text {
      font-size: 100px;
  }
}
@media screen and (max-width: 767px) {

  svg text {
    font-size: 20px;
}
.wrapper {

  margin-left:-660%;
}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  svg text {
    font-size: 50px;
}
.wrapper {

  margin-left:-350%;
}
}

@media screen and (min-width: 1024px) {
 
  svg text {
      font-size: 180px;
  }
  .wrapper {
 
    margin-left: -70%;
  }
}

@keyframes stroke {
  0% {
    fill: rgba(241, 254, 255, 0);
    stroke: rgba(231, 255, 255, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(241, 254, 255, 0);
    stroke: rgba(231, 255, 255, 1);
  }
  80% {
    fill: rgba(241, 254, 255, 0);
    stroke: rgba(231, 255, 255, 1);
    stroke-width: 3;
  }
  100% {
    fill: rgba(241, 254, 255, 1);
    stroke: rgba(231, 255, 255, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.wrapper {
  position: relative;
  object-fit: cover;
  margin-top: 10%;
  padding:50px 60px;
  background-color: none;

  
}



.nav_bar {
  display: flex;
  align-items: center;
  justify-content:space-between;  
  width: 100%;
  margin: 0px auto;
  padding: 20px;


}
.nav_bar,.nav0,h1{
  z-index: 1;
}
main {
  width: 90%;
  margin: 40px auto;
}

main p {
  margin: 15px auto;
  font-size: 150%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-item ul li {
  position: relative;
  padding: 10px;
  display: inline-block;
}
li {
  position: relative;
}

/*li:hover a {*/
/*  background-color: blue;*/
/*}*/

a {
  color: #ffffff;

  text-decoration: none;
}

.main-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  margin-right: 10px;
  padding: 20px;
  color: #ffffff;
  backdrop-filter: blur(50px);
  box-shadow: 41px 41px 81px #c67b1242, -41px -41px 81px #c67b1242;
  box-shadow: inset 0 0 0 0 #e89116;
  cursor: pointer;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.main-item li a:hover {
  color: #30d5c8;
}

.nav-flex01,
.main-menu {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: #dfd9e2;
  width: 100%;
  flex-wrap: wrap;
  
}

li:hover > ul {
  display: block;
}

ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff1d;
  width: 150px;
  padding: 5px;
  margin: 0 auto;
  background-color: #ffffff00;
  backdrop-filter: blur(50px);
  box-shadow: 41px 41px 81px #c67b1242, -41px -41px 81px #c67b1242;
  box-shadow: inset 0 0 0 0 #e89116;
  cursor: pointer;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

ul ul ul {
  left: 100%;
  top: 0;
}

li.frstlvl > a {
  font-weight: bold;
}

.scndlvl > a {
  font-weight: normal;
}

.thrdlvl > a {
  font-weight: normal;
}

.nav-flex01 > li {
  margin-left: 20px;
}

.spacebelowabove
{
  margin: 2vh auto;
}

.centerflex 
{
  display: flex;
  justify-content: center;
}

.flexverticalcenter
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tableformat, .tableformat th, .tableformat td
{
  border: 1px solid;
}

.centercell
{
  text-align: center;
}
.submit_top {
  background-color: #c67b1200;
  backdrop-filter: blur(50px);
  padding: 10px 15px;
  box-shadow: inset 0 0 0 0 #e89116;
  color: #ffffff;
  font-size: large;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  margin-top: 0vh;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.submit_top:hover {
  box-shadow: inset 250px 0 0 0 #7334a6;
}

.submit h3{
  color: #dfd9e2;
}

.guest{
  background-color: #c67b1200;
  backdrop-filter: blur(50px);
  padding: 10px 15px;
  box-shadow: inset 0 0 0 0 #e8911600;
  color: #dfd9e2;
  font-size: large;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  margin-top: vh;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.guest:hover {
  box-shadow: inset 250px 0 0 0 #7334a600;
}
 body.bg-dark {
  background-color: #343a40;
  color: #ffffff;
  padding: 20px;
}

.container {
  margin-top: 30px;
}

.card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  margin-bottom: 0;
}

.table-bordered {
  border: 0.5px solid #dee2e636;
}

.table th,
.table td {
  border: 0.5px solid #cccdd058;
  padding: 12px;
  text-align: center;
}

.table th {
  background-color: #343a40;
  color: #ffffff;
}

.table td {

  background-color: #ffffff2d;
}

.table td:hover{
  transform: scale(1.05);
  background-color: #a19b9b;
  color: rgb(255, 255, 255);
}
.table td a:hover{
  color: rgb(255, 255, 255);
}

.table td a {
  color: #007bff;
}
.button-edit,.button-delete {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ccc;
  cursor: pointer;
  border-style: none;
}
.button-edit.ed,
.button-delete.de {
  transform: scale(1);
  background-color: #ffffff00;
  color: #ffffff;
  
  
}


.button-edit{
  color: #ffffff;
  background: linear-gradient(145deg, #0176fb, #0073f7);


}
.button-delete{
  color: #ffffff;
  background: linear-gradient(145deg, #ff0000, #f700008f);
  position: relative;
}


.tooltip {
  position: absolute;
  display: none;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transform: translate(-100%, -50%);
  z-index: 1;
}
.user-icon-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.user-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
  background-color: #3498db;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
footer{
  min-height: -1vh;
}
.fieldset-container {
  margin-bottom: 20px;
}

.fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

.button-submit {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
